.bg-secondary {
    background-color: #D2B48C!important;
}
a {
    color: #000000;
    text-decoration: none;
    background-color: transparent;
}

a:hover {
    color: #ffffff;
    text-decoration: none;
    background-color: transparent;
}

[type=button]:not(:disabled), [type=reset]:not(:disabled), [type=submit]:not(:disabled), button:not(:disabled) {
    cursor: pointer!important;
}

.bg-primary {
    background-color: #BC8F8F!important;
}

a.bg-primary:focus, a.bg-primary:hover, button.bg-primary:focus, button.bg-primary:hover {
    background-color: #BC8F8F!important;
}