<!--==========================
    Submission
  ============================-->
<main id="submission">
  <div class="container submission-content">
    <div class="row">
      <div class="offset-md-1 col-md-10">
        <div class="box example-card">
          <div class="form">
            <form role="form" class="contactForm" (submit)="login()" encType="multipart/form-data">
              <div class="section-header">
                <h2>Login</h2>
              </div>
              <div *ngIf="carregando">
                <i class="fas fa-spinner fa-pulse"></i>Aguarde...
              </div>
              <div *ngIf="!carregando">
                <div>
                  <div class="form-row">
                    <div class="form-group col-md-12">
                      <table cellspacing="0">
                        <tr>
                          <td>
                            <mat-form-field>
                              <input matInput placeholder="Email" [(ngModel)]="email" name="email" required>
                            </mat-form-field>
                          </td>
                        </tr>
                        <tr>
                          <td>
                            <mat-form-field>
                              <input matInput placeholder="Password" [(ngModel)]="password" type="password"
                                name="password" required>
                            </mat-form-field>
                          </td>
                        </tr>
                      </table>
                    </div>
                  </div>
                  <div class="row justify-content-center">
                    <button *ngIf="!carregando" class="btn-get-started" type="submit">Entrar</button>

                    <div *ngIf="carregando" class="row justify-content-center"><button class="btn-get-started"><i
                          class="fas fa-spinner fa-pulse"></i></button>
                    </div>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>