<mat-card *ngFor="let item of depoimentos" class="card">
    <mat-card-header *ngIf="item.url" style="text-align: center;">
        <iframe width="560" height="315" [src]='sanitizeURL(item.url)' frameborder="0" allowfullscreen></iframe>
    </mat-card-header>

    <mat-card-header>
        {{ item.descricao }}
    </mat-card-header>

    <mat-card-content style="font-family: Roboto,sans-serif;">
        por <b>{{ item.titulo }}</b>
    </mat-card-content>

    <mat-card-actions>
        <button *ngIf="item._id && isAdmin" mat-button (click)="deleteDepoimento(item._id)">Deletar</button>
        <button *ngIf="item._id && isAdmin" mat-button (click)="alterDepoimento(item)">Editar</button>
    </mat-card-actions>
</mat-card>